.login-modal-window {
    background-color: white;
    color: #1a1a1a;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    
    width: 90%; 
    max-width: 350px;
    

    display: flex; 
    flex-direction: column;
    position: relative;
}

.login-modal-window .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.login-form {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 15px; 
    margin-top: 10px;
    
    width: 100%;
    box-sizing: border-box; 
}

.login-form label {
    font-weight: 500;
    margin-bottom: -5px; 
    display: block;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    box-sizing: border-box;
}

.login-form button[type="submit"] {
    width: 100%;
    margin-top: 5px;
}